{# Mobile Author Page Layout #}
<div class="author-page-mobile">
    <div class="author-header-mobile">
        {% if author.image_url %}
        <img src="{{ author.image_url }}" alt="{{ author.name }}" class="author-avatar-mobile">
        {% endif %}
        <h1 class="author-name-mobile">{{ author.name }}</h1>
        {% if author.bio %}
        <p class="author-bio-mobile">{{ author.bio }}</p>
        {% endif %}
    </div>

    <div class="author-content-mobile">
        {% if post_section_list %}
            {% for section in post_section_list %}
            <div class="author-section-mobile">
                {% include template_key~'/templates/components/section_layouts/layout_type_1.html' %}
            </div>
            {% endfor %}
        {% endif %}
        {% include template_key~'/templates/components/common_utils/pagination.html' %}
    </div>
</div>
