<div class="modal fade pub-platform-signin-modal" id="legacy_search_form" tabindex="-1" aria-labelledby="search_modalLabel" aria-hidden="true">
    <div class="modal-dialog translate_align_vertical">
        <div class="modal-content">
            <div class="modal-body">
              <form class="search-form secondary_font" action="https://{{publisher.actual_domain}}/search" method="GET" target="_top" >
                <input id='search-input' type="search" name="title" value="{% if q != None %}{{ q }}{% endif %}"
                    placeholder="{{ 'search_for_articles'|translate(lang) }}" required />
                <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27.564" height="30.381"
                        viewBox="0 0 27.564 30.381">
                        <g id="Group_303" data-name="Group 303"
                        transform="translate(-11877.375 17095.694)">
                            <path id="Path_51" data-name="Path 51"
                                d="M20.691,10.345A10.345,10.345,0,1,1,10.345,0,10.345,10.345,0,0,1,20.691,10.345Z"
                                transform="translate(11881.949 -17094) rotate(8)" fill="none"
                                stroke="#181818" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="3"></path>
                            <path id="Path_52" data-name="Path 52" d="M5.625,5.625,0,0"
                                transform="translate(11896.973 -17074.063) rotate(8)" fill="none"
                                stroke="#181818" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="3"></path>
                        </g>
                    </svg>
                </button>
            </form>
            </div>
        </div>
    </div>
</div>