
.mobile-nav .mobile-nav-close-btn {
  position: absolute;
  top: 26px;
  right: 20px;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.mobile-nav .social-link {
  margin: 5px 25px;
  padding: 15px 0px 10px;
}

.mobile-nav .page-links {
  padding: 0 25px;
  margin-top: 20px;

}
.mobile-nav .tc-and-privacy-text {
    padding: 0 0px 15px;
}
.mobile-nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.mobile-nav ul li {
  list-style: none;
}
.mobile-nav .dropdown-li{
  padding: 5px 0;
}
.border{
  border-bottom: 1px solid #4b4b4b1a;
}
.mobile-nav ul li a {
  color: var(--p-txt-1-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}
.mob-select-lang-btn {
  
  align-items: center;
  color: var(--p-txt-1-color);
  background-color: var(--p-main-bg-color);
  border: none;
  outline: none;
}
.mob-select-lang-btn svg {
  margin-right: 5px;
}