.mega-menu ol,
.mega-menu .first-submenu{
  padding: 0;
}
.old-nav{text-transform:uppercase;}
.mega-menu .main-menu label.main-menu-dropdown-icon {
  width: 100%;
  cursor: pointer;
  z-index: 10;
}
 .mega-menu
  .main-menu
  input[type='checkbox']:checked
  + .main-menu-dropdown-list-sidebar {
  display: block;
}
 .mega-menu
  .main-menu 
  input[type='checkbox']:checked 
  + .main-menu-dropdown-list {
  display: block;
}

.mega-menu
  .main-menu
  input[type='checkbox']:not(:checked)
  + .main-menu-dropdown-list-sidebar {
  display: none;
}
.mega-menu .main-menu input[type='checkbox'] {
  display: none;
}
.mega-menu #mobile-menu {
  position: relative;
  display: block;
  padding: 16px;
  cursor: pointer;
}
.mega-menu #mobile-menu span.main-menu-dropdown-icon {
  bottom: 0;
  width: 50px;
  cursor: pointer;
}

.mega-menu #mobile-menu .main-menu-dropdown-icon,
.mega-menu #mobile-menu span.main-menu-dropdown-icon {
  position: absolute;
  top: 0;
  right: 0;
}
.mega-menu .main-menu {
  z-index: 100;
  font-weight: 400;
  font-size:14px;
}

.mega-menu .main-menu .main-menu-dropdown {
  position: relative;
  display: block;
}
.mobile-nav .new-header .main-menu .main-menu-dropdown {
  border-bottom:1px solid #e7e7e7;
  margin:0px 5px;
}
.desktop-nav .second-submenu.more_10{
  min-height:75vh;
  position:static;
}
.desktop-nav .first-submenu,.desktop-nav .second-submenu{
  position:static;
  text-transform:capitalize;
  min-height:100%;
}
.mega-menu .main-menu .main-menu-dropdown-list a {
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
} 
.mega-menu
  .main-menu
  .main-menu-dropdown-list
  a:hover {
  -webkit-transform: translate3d(3px, 0, 0);
  transform: translate3d(3px, 0, 0);
}
.mega-menu .main-menu label.main-menu-dropdown-icon,
.mega-menu .main-menu li label.main-menu-dropdown-icon {
  position: absolute;
  top:auto;
  right: 0;
  padding:10px 0px;
  height:100%;
}
.mega-menu .main-menu > ul > li a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px 7px;
  cursor: pointer;
  position: relative;
  display: block;
  min-width:50px;
}
.header .main-menu .main-menu-dropdown-list {
  position: absolute;
  left: 0;
  z-index: 100;
  padding:0;
  min-width: 250px;
  max-width: 350px;
  background-color:var(--p-main-bg-color);
}
.header .main-menu .main-menu-dropdown-list.second-submenu {  
  top: 0rem;
  left: 100%;
}
.header .main-menu .main-menu-dropdown-list-sidebar {
  z-index: 100;
  display:none;
  min-width: 150px;
  max-width: 250px;
}
.item_container{
  border-top: var(--p-nav-border-color) 1px solid;
  border-bottom: var(--p-nav-border-color) 1px solid;
}
 @media (max-width: 1199.98px) {
  .mega-menu .main-menu > ul > li a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 6px 5px;
    cursor: pointer;
    position: relative;
    display: block;
  }
}

.header .main-menu input[type='checkbox'] + .main-menu-dropdown-list {
  display: none;
}
.desktop-nav .header .main-menu li:hover
> input[type='checkbox']
+ .main-menu-dropdown-list {
display: block;
}
.hover_bottom::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: var(--p-accent-color);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.active_link_nav_nested::after{
  opacity: 1;
  color: var(--p-accent-color); 
}

.anchor:hover{
  color: var(--p-accent-color);
}
.navbar_name{
  display:inline-block;
  width:max-content;
 color: var(--p-nav-txt-color);
}
.sub_navbar_name{
  display:inline-block;
  width:max-content;
 color: var(--p-nav-txt-color);
}
.desktop-nav .navbar_name
.dropdown-item-s:hover{
  color:var(--p-accent-color);
font-weight:600;
}
.dropdown-item-s .main-menu-dropdown-icon svg path{
  stroke:var(--p-accent-color);
  stroke-width: 2px;
}
.dropdown-item-s:hover .main-menu-dropdown-icon svg path{
  stroke:var(--p-accent-color);
}
.navbar_name:hover{
  color:var(--p-accent-color);
font-weight:600;
}
.navbar_name .main-menu-dropdown-icon svg path{
  stroke:#8D8D8D;
}
.navbar_name:hover .main-menu-dropdown-icon svg path{
  stroke:var(--p-accent-color);
}

.header .main-menu .main-menu-dropdown-list .more_10{
  max-width:800px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: max-content;

}
.desktop-nav  .header .main-menu .main-menu-dropdown-list .more_10 li{
  padding: 2px 0px;
  margin-right: 3.5rem;
}
.mobile-nav  .new-header .main-menu .main-menu-dropdown-list .more_10 li{
  padding: 4px 0px;
  margin:0px;
}
.desktop-nav .header .main-menu li:hover
> input[type='checkbox']
+ .main-menu-dropdown-list.more_10 {
display: grid;
}
.mega-menu
  .main-menu
  input[type='checkbox']:checked
  + .main-menu-dropdown-list-sidebar {
  display: block;
}
.desktop-nav .header .main-menu .first-submenu .dropdown-item-s{width:96%;}
.header .main-menu .dropdown-item-s{
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position:relative;
}
.desktop-nav .header .main-menu .dropdown-item-s{padding: 0px 7px;}
.desktop-nav .main-menu{display: flex;align-items:center;position:relative;justify-content: center;}
.mobile-nav .header .main-menu .main-menu-dropdown-list{position:static;border:none;}
.mobile-nav .header .main-menu .main-menu-dropdown-list li{position:relative;border:none;margin:10px 4px;}
.mobile-nav .second-submenu{padding-left: 3rem;}
.mobile-nav .header .main-menu .main-menu-dropdown-list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width:100%;
  width:100%;
}
.mobile-nav .header .main-menu .main-menu-dropdown-list a{
  border-radius:0px;
  background-color:inherit;
}
.desktop-nav .header .page-links{display:none;}
.mobile-nav .new-header .main-menu .main-menu-dropdown a {
  font-size:16px;
  font-weight:700;
  text-transform:uppercase;
  z-index:12;
}
.main-menu .main-menu-dropdown li {list-style:none;}
.desktop-nav .main-menu .new-menu .dropdown-item-s.first-drop  a {
  font-size:15px;
  font-weight:700;
  text-transform:uppercase;
}
.new-header .main-menu .main-menu-dropdown .first-submenu a {
  font-size:15px;
  font-weight:700;
}
.desktop-nav .new-header .main-menu .main-menu-dropdown .first-submenu .dropdown-item-s > .navbar_name {
padding: 10px 30px;

}
.mobile-nav .new-header .main-menu .main-menu-dropdown .first-submenu a {
  padding: 10px 2px;
  text-transform:capitalize;
  font-size:14px;
  font-weight:600;
}
.new-header .main-menu .main-menu-dropdown .first-submenu .second-submenu a {
  font-size:14px;
  font-weight:400;
  padding: 7px 15px 7px 0px;
}
.mobile-nav .new-header .main-menu .main-menu-dropdown .first-submenu .second-submenu a {
  padding: 10px 15px 10px 0px;
  width:fit-content;
}

.mobile-nav .main-menu .first-submenu a {font-size:15px;font-weight:600;}
.mobile-nav .main-menu .first-submenu .dropdown-item-s .main-menu-dropdown-icon {transform: rotate(90deg);}
.header .main-menu .second-submenu{padding:revert;}
.main-menu .second-submenu li{list-style:disc;}
.mobile-nav .main-menu .second-submenu{padding-left: 17px;}
.sidebar-multi-level nav{padding:0px 16px;padding-top:2rem;}
.sidebar-multi-level .main-menu-dropdown{padding:10px 0px;}
.header .main-menu .main-menu-dropdown-list.second-submenu.left{
  left: auto;
  right: 100%;
}
  ul .first-submenu li:hover {
    color:var(--p-accent-color);
  }
  .desktop-nav ul .first-submenu li:hover {background-color: #F3F3F5;}
  ul .first-submenu li a:hover {
    color:var(--p-accent-color);
  }
  .desktop-nav .header .main-menu .main-menu-dropdown-list .second-submenu{background:#F3F3F5}
  .mobile-nav .page-links li{
    color:var(--p-accent-color);
 
    list-style:disc;

  }
  .mobile-nav ul.page-links{
    padding-left: 2.6rem;
}
.sidebar-multi-level .navbar_name {border-radius:0px;}
.old-nav .desktop-nav .main-menu.not-nested {justify-content:flex-start;padding-left:0px;}

.mega-menu .main-menu input[type='checkbox']:checked + .main-menu-dropdown-list-sidebar {display: block;}.mega-menu .main-menu input[type='checkbox']:checked + .main-menu-dropdown-list {display: block;}.mega-menu .main-menu input[type='checkbox']:not(:checked) + .main-menu-dropdown-list-sidebar {display: none;}.mega-menu .main-menu input[type='checkbox'] {display: none;}

.sticky-banner{
    width: 100%;
    padding-top: 3px;
    text-align: center;
    color:var(--p-accent-text-color);
    background-color: var(--p-accent-color);
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
    -ms-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
}
.gh-head.is-hidden {
    top: 0px;
    transition: top 0.3s ease-in;
}

.gh-head {
    position: sticky;
    top: 0;
    z-index: 10000;
    align-items: center;
    font-weight: 500;
    border-bottom: 1px solid var(--color-borders);
    transition: top 0.3s ease-out;
    background-color: var(--color-background-main);
}
