{% extends template_key~"/templates/default.html" %}

{% block json_ld %}
{% include 'decoupled_common_components/component/json_ld_sub_component/category_breadcrumb_json_ld.html' %}

    <script type="application/ld+json">
        {
          "@context":"https://schema.org",
          "@type":"ItemList",
          "itemListElement":[
            {% for post in post_section_list.0.posts %}
                {% if loop.last %}
                {
                    "@type":"ListItem",
                    "position":{{ loop.index }},
                    "url":"{{post.absolute_url}}",
                    "name": "{{ post.title|escape }}",
                    "description": "{{ post.short_description|escape }}"
                }
                {% else %}
                {
                    "@type":"ListItem",
                    "position":{{ loop.index }},
                    "url":"{{post.absolute_url}}",
                    "name": "{{ post.title|escape  }}",
                    "description": "{{ post.short_description|escape }}"
                    },
                {% endif %}
            {% endfor %}
          ]
        }
    </script>
{% endblock %}
{% block content %}
{% if is_mobile_device %}
  {% include template_key~"/templates/mobile_template/mobile-category.html" %}
{% else %}
  {% include template_key~"/templates/desktop_template/desktop-category.html" %}
{% endif %}
{% endblock %} 