{% extends template_key~"/templates/default.html" %}
{% block content %}
    <main>
        <div class="uni-padding">
            <div class="signin_container signin_main_container" >
                <h4 class="sign-in-header primary_font">{{ header_text }}</h4>
                <p class="sign-in-sub-text primary_font"> {{ sub_header_text }}
                </p>
                <a href="/reader/login" class="login-redirect secondary_font" style="margin-left:0px;"><span >Login</span></a>
            </div>
        </div>
    </main>
{% endblock %} 
