{% extends template_key~"/templates/default.html" %}
{% block content %}
<main>
  <div class="uni-padding">
      <div class="{% if not is_mobile_device %}main{% endif %}">
          <div id="left-col">
            {%include 'decoupled_common_components/component/login/update_password_element.html'%}
          </div>
      </div>
  </div>
</main>
{% endblock %} 

{% block script %}
<script src="{{ static('/js/jquery-3.6.0.min.js',True) }}" type="text/javascript"></script>
<script src="{{ static('/js/reader_login_email.js',True) }}" type="text/javascript" publisher='{{publisher}}' publisher_platform_id="{{reader_login_client_id}}" is_mobile="{{is_mobile_device}}" page_type="{{ page_type }}"></script>

{% endblock script %}