<div class="header new-header">
  <nav class="main-menu primary_font" id="main-menu">
      <ul class="main-menu nav">  
          {%for navbar_items in navbar_components %}
            {% set processed_navbar_link = prepend_domain(navbar_items.link,host_domain) or ""%}
            {% set processed_request_path = prepend_domain(request.path , host_domain) or "" %}
              <li class="main-menu-dropdown new-menu">
                <span class="dropdown-item-s ">
                  <a {% if navbar_items.link %} href="{{navbar_items.link}}" {% if navbar_items.open_new_tab %}target="_blank"{% endif %} {% endif %} class="navbar_name open_tab hover_bottom {% if processed_navbar_link in processed_request_path %}active_link_nav_nested{% endif %} " >
                    {{navbar_items.name}}
                  </a>
                  {% if navbar_items.children %}
                  <span class="main-menu-dropdown-icon" style=" margin: 0 0px; ">
                    <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1L6 6L11 1"  stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </span>
                  {% endif %}
                </span>
                <label class="main-menu-dropdown-icon" for="sidebar-dropdown-list-{{navbar_items.id}}">
                  <i class="arrow-down arrow-down-mobile"></i>
                </label>
                <input type="checkbox" id="sidebar-dropdown-list-{{navbar_items.id}}">
                {% if navbar_items.children %}
                  <ul class="main-menu-dropdown-list main-menu-dropdown-list-sidebar first-submenu" id="{{navbar_items.id}}">
                    {% for menu in navbar_items.children %}
                    {% set processed_menu_link = prepend_domain(menu.link, host_domain) or "" %}

                    <li>
                      <span class="dropdown-item-s">
                        <a class="navbar_name hover_bottom {% if processed_menu_link in processed_request_path %}active_link_nav_nested{% endif %}" {% if menu.link %} {% if menu.open_new_tab %}target="_blank"{% endif %} href="{{menu.link}}" {% endif %} ><span>{{menu.name}}</span>
                        </a>
                        {% if menu.children %}
                        <span class="main-menu-dropdown-icon open_tab" style=" margin: 0 0px; ">
                          <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L6 6L1 11" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </span>
                        {% endif %}
                      </span>
                              {% if menu.children %} 
                              <label class="main-menu-dropdown-icon " for="sidebar-dropdown-list-{{navbar_items.id}}-{{loop.index}}">
                                <i class="arrow-down arrow-down-mobile"></i>
                              </label>
                              <input type="checkbox" id="sidebar-dropdown-list-{{navbar_items.id}}-{{loop.index}}">
                                <ul class="main-menu-dropdown-list {%if menu.children|length > 10 %} more_10 {% endif %} second-submenu" id="{{navbar_items.id}}{{loop.index}}">
                                  {% for submenu in menu.children %}
                                  {% set processed_submenu_link = prepend_domain(submenu.link, host_domain) or "" %}
                                    <li>
                                      <a class="hover_bottom {% if processed_submenu_link in processed_request_path %}active_link_nav_nested {% endif %}" {% if submenu.link %} {% if submenu.open_new_tab %}target="_blank"{% endif %} href="{{submenu.link}}" {% endif %} >{{submenu.name}}
                                      </a>
                                    </li>
                                  {% endfor %}
                                </ul>
                              {% endif %}
                            </li>
                  {% endfor %}
                  </ul>
                {% endif %}
              </li>
          {%endfor%}
      </ul>
  </nav>
</div>
