{# Social Links - Sidebar Style (Compact) #}
{% if publisher.social_links %}
<div class="social-links-sidebar">
    <ul class="social-list-compact">
        {% if publisher.social_links.facebook %}
        <li><a href="{{ publisher.social_links.facebook }}" target="_blank" rel="noopener" aria-label="Facebook">{% include template_key~'/templates/components/common_utils/svgs/facebook.html' %}</a></li>
        {% endif %}
        {% if publisher.social_links.twitter %}
        <li><a href="{{ publisher.social_links.twitter }}" target="_blank" rel="noopener" aria-label="Twitter">{% include template_key~'/templates/components/common_utils/svgs/twitter.html' %}</a></li>
        {% endif %}
        {% if publisher.social_links.instagram %}
        <li><a href="{{ publisher.social_links.instagram }}" target="_blank" rel="noopener" aria-label="Instagram">{% include template_key~'/templates/components/common_utils/svgs/instagram.html' %}</a></li>
        {% endif %}
        {% if publisher.social_links.linkedin %}
        <li><a href="{{ publisher.social_links.linkedin }}" target="_blank" rel="noopener" aria-label="LinkedIn">{% include template_key~'/templates/components/common_utils/svgs/linkedin.html' %}</a></li>
        {% endif %}
        {% if publisher.social_links.youtube %}
        <li><a href="{{ publisher.social_links.youtube }}" target="_blank" rel="noopener" aria-label="YouTube">{% include template_key~'/templates/components/common_utils/svgs/youtube.html' %}</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
