    <div class="post-collection">
        <div class="small-post">
            <a href="{{post.absolute_url}}" aria-label="{{ post.title }}" >
            <div class="post-cover aspect-ratio" style="position:relative;">
                {% if post.type == 'Video'%}
                    <span class="post-type-logo">
                        <img alt="web-stroy-logo" src="{{ static(template_key+'/assets/images/video-icon.svg') }}">
                    </span>
                {% elif post.type == 'Web Story' %}
                    <span class="post-type-logo">
                        <img
                        alt="web-stroy-logo"
                        src="{{ static(template_key+'/assets/images/web-story-icon.svg') }}">
                    </span>
                {% elif post.type == 'Gallery' %}
                    <span class="post-type-logo">
                        <img
                        class="gallery-logo"
                        alt="web-stroy-logo"
                        src="{{ static(template_key+'/assets/images/gallery-icon.svg') }}">
                    </span>
                {% elif post.type == 'LiveBlog' %}
                    {% include template_key~"/templates/components/common_utils/svgs/live-blog-title.html" %}
                {% endif %}
                <img class="p-cover aspect-ratio" style="object-fit: cover;" src="{{ post.banner_url|get_absolute_image_url('580,348') }}" loading="lazy" style="{{  post.media_file_banner|get_image_style_property }}" alt="{% if post.media_file_banner and post.media_file_banner.alt_text %}{{post.media_file_banner.alt_text}}{% else %}{{ post.title }}{% endif %}">
                    <a href="{{ post.primary_category.absolute_url }}" 
                    aria-label="{{ post.primary_category.name }}"><span class="category_tag secondary_font category_{{post.primary_category.slug|slash_remove}}_brand_color">{{ post.primary_category.name }}</span></a>
            </div>
        </a>
        <a href="{{ post.absolute_url }}" aria-label="{{ post.title }}" >

            <div class="post-title title_link primary_font">
                {{ post.title }}
            </div>
        </a>
            <div class="post-author secondary_font my-1">
                <span class="">{{'by'|translate(lang)}}</span>
                {% if post.contributors.0 %}
                <a href="{{ post.contributors.0.absolute_url }}" aria-label="{{ post.contributors.0.name }}" ><span class="author-name ">{{ post.contributors.0.name }}</span></a>
                {% if post.contributors.1 %}
                <span class="">{{'and'|translate(lang)}}</span>
                <a href="{{ post.contributors.1.absolute_url }}" aria-label="{{ post.contributors.1.name }}" ><span class="author-name ">{{ post.contributors.1.name }}</span></a>
                {% endif %}
                {% endif %}
            </div>
            <div class="post-date secondary_font">
                {% if post.formatted_last_published_at_datetime %}
                <img class="calender_logo" alt="logo" src="{{static(template_key+'/assets/images/calender.svg') }}"><span class="publish-date mx-1">{{ post.formatted_last_published_at_datetime|date_time_format("%b %d, %Y %H:%M")}} {{publisher.timezone.timezone_display_name}}</span>
                {% endif %}
                {% if post.read_time %} 
                <span class="publish-date mx-1">
                    <img class="calender_logo" alt="logo" src="{{static(template_key+'/assets/images/clock-svg.svg') }}">
                    {{ post.read_time }} {{'minutes_read'|translate(lang)}}
                </span>
                {% endif %}
            </div>
        </div>

    </div>
